




#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slide-one{
  background-image: url('https://i.ibb.co/8bYts1M/4.jpg');
  background-size: cover;
  
  width: 100%;
  height: 100vh;
}


.slide-two{
  background-image: url('https://i.ibb.co/3pyfKqR/5.jpg');
  background-size: cover;
  
  width: 100%;
  height: 100vh;
}


.slide-three{
  background-image: url('https://i.ibb.co/7z3cRv0/6.jpg');
  background-size: cover;
  
  width: 100%;
  height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
